.nav-white-text {
    color: white !important;
  }

  .navbar-custom:hover {
    background-color: black !important;
  }
  
  .navbar-custom:hover a {
    color: white !important;
  }
  



h1 {
  text-align: center;
  font-family: 'Arial, sans-serif';
  font-size: 36px;
  font-weight: bold;
  color: black;
  padding: 20px;
}

h3 {
  text-align: center;
  font-family: 'Arial, sans-serif';
  font-size: 18px;
  color: #666;
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  background-color: red;
  border-radius:30px;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 8px 50px;
  transition: 0.3s;
}


.button:hover {
  background-color: white;
  color: red;
}

.image-buttons-container {
  text-align: center; /* Center the inline-block elements horizontally */
}

.image-button {
  display: inline-block;
  border: none;
  background: none;
  padding: 10px;
  margin: 0 10px; 
}

.image-button-img {
  width: 300px; 
  height: auto; 
  margin-top: 40px; 
}






/* FavoriteCategories */


.card {
  padding: 20px;
  width: 22rem;
  display: inline-block;
  margin: 10px; 
  text-align: center;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card1 {
  padding: 15px;
  width: 10rem;
  display: inline-block;
  margin: 10px; 
  text-align: center;
}

.card1:hover {
  box-shadow: 0 0 10px rgba(128, 0, 128, 0.5); /* Purple shadow effect */
}
