.double-navbar {
  display: flex;
  flex-direction: column;
  background-color: #6f0000;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.first-row,
.second-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.first-row {
  height: 30px;
  font-size: 13px;
  margin-top: 10px;
}

.second-row {
 height: 65px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 15px;
  position: relative;
}

.dropdown-menu {
  position: relative;
  cursor: pointer;
}

.dropdown-menu ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  padding: 10px;
  list-style-type: none;
}

.dropdown-menu:hover ul {
  display: block;
}

.second-row:hover {
  background-color: #ffffff;
  color: #c60101;

  padding-bottom: -10px;
}

.second-row ul {
  list-style-type: none;
  display: flex;
}

.second-row li {
  margin-right: 15px;
  margin-left: 70px;
  margin-top: 15px;
  position: relative;
  font-weight: bold; /* Make the font bold */
  font-size: 18px; /* Increase the font size */
  cursor: pointer;
}

.second-row li:hover {
  color: black;
  text-decoration: underline; /* Underline the text on hover */
}

.second-row li .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #555;
  padding: 10px;
}

.dropdown-menu ul .dropdown {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #555;
}

.dropdown-menu ul li:hover .dropdown {
  display: block;
}

img {
  margin-left: 20px;
  transition: width 0.3s, height 0.3s; /* Add a transition for a smoother effect */
}

.logo-container .logo-image {
  transition: transform 0.9s; /* Add a transition for a smoother effect */
}

.second-row .logo-container .logo-image {
  width: 100px; 
  height: 50px; 
}

.second-row:hover .logo-container .logo-image {
  width: 145px; 
  height: 60px;
  margin-left: -3px;
  margin-top: -5px;
}


.main-menu {
  list-style: none;
  padding: 0;
}

.main-menu > li {
  position: relative;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.main-menu > li:hover .dropdown {
  display: block;
}

.dropdown li {
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown li:hover {
  background-color: #f0f0f0;
}
